Repository CalleEklund/Traste: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-firestore, deploy-functions, deploy-hosting

npm-backend:
  stage: npm
  script:
  - cd functions
  - echo "Running npm install for backend"
  - npm install
  - echo "npm install is complete"
  cache:
    paths:
    - functions/node_modules/
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
    - functions/node_modules/

npm-frontend:
  stage: npm
  script:
  - cd app/traste
  - echo "Running npm install for frontend"
  - npm install
  - echo "npm install is complete"
  cache:
    paths:
    - app/traste/node_modules/
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
    - app/traste/node_modules/

eslint-backend:
  stage: lint
  dependencies:
  - npm-backend
  script:
  - npm install -g eslint
  - cd functions
  - echo "Starting eslint check for all files in the backend"
  - eslint .
  - echo "Done"

eslint-frontend:
  stage: lint
  dependencies:
  - npm-backend
  script:
  - npm install -g eslint
  - cd app/traste
  - echo "Starting eslint check for all files in the frontend"
  - eslint .
  - echo "Done"

unit-test-backend:
  stage: test
  dependencies:
  - npm-backend
  script:
  - cd functions
  - echo "Running unit tests for backend"
  - npm run coverage
  - echo "Unit tests for backend are complete"
  coverage: '/Code coverage: \d+\.\d+/'
  artifacts:
    expire_in: 1 year
    when: on_success
    paths:
    - functions/coverage/

unit-test-frontend:
  stage: test
  dependencies:
  - npm-frontend
  script:
  - cd app/traste
  - echo "Running unit tests for frontend"
  - npm run test -- --coverage
  - echo "Unit tests for frontend are complete"
  coverage: '/Code coverage: \d+\.\d+/'
  artifacts:
    expire_in: 1 year
    when: on_success
    paths:
  ...

deploy-firestore:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - echo "Deploying firestore..."
  - firebase deploy --only firestore --token $FIREBASE_TOKEN
  - echo "Firestore successfully deployed."

deploy-functions:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - echo "Deploying functions..."
  - cd functions
  - npm install
  - cd ..
  - firebase deploy --only functions --token $FIREBASE_TOKEN
  - echo "Functions successfully deployed."

deploy-hosting:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - yarn
  - echo "Building application"
  - yarn build
  - echo "Building is done"
  - echo "Starting to deploy application"
  - firebase deploy --only hosting --token $FIREBASE_TOKEN
  - echo "Application is deployed"

Can add picture for waste
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

progress.
  functions/firestoreClient.js
  functions/index.js
  functions/package-lock.json
  functions/package.json
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

finished with backend implementation
  functions/firestoreClient.js
  functions/index.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

Added waste pic file and docket pic file to data in sendReport.
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

imagelinking works, remove logs and add validate
  app/traste/package.json
  app/traste/src/App.js
  app/traste/src/components/Inputfield.js
  app/traste/src/screens/ReportPage.js
  functions/databaseSchemas.js
  functions/firestoreClient.js
  functions/index.js
  functions/package-lock.json
  functions/package.json
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

Added checkmark to indicate when image has been chosen for docket and waste image.
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"100 coverage, need to test screens too"
  app/traste/package-lock.json
  app/traste/package.json
  app/traste/src/components/Inputfield.js
  app/traste/src/components/Selection.js
  app/traste/src/components/__tests__/Header.test.js
  app/traste/src/components/__tests__/Inputfield.test.js
  app/traste/src/components/__tests__/MaterialField.test.js
  app/traste/src/components/__tests__/Selection.test.js
  app/traste/src/components/__tests__/__snapshots__/Header.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/Inputfield.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/MaterialField.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/Selection.test.js.snap
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Fixed eslint frontent warning"
  app/traste/src/components/__tests__/Selection.test.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

gittat innan möte
  functions/databaseSchemas.js
  functions/firestoreClient.js
  functions/index.js
  functions/package-lock.json
  functions/package.json
  functions/test/deleteDatabaseForTesting.js
  functions/test/integrationTest/indexTest.js
  functions/test/unitTest/createEmployeeTest.js
  functions/test/unitTest/createFacilityTest.js
  functions/test/unitTest/createReportTest.js
  functions/test/unitTest/createSiteTest.js
  functions/test/unitTest/createWasteTest.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

"Working on refactoring reportpage.js"
  app/traste/src/api/trasteApi.js
  app/traste/src/assets/Constants.js
  app/traste/src/components/WasteList.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Minor refactoring made"
  app/traste/src/components/WasteList.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Working on CameraButtons.js file"
  app/traste/src/components/CameraButtons.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Refactored camera buttons and made the code more easy to read"
  app/traste/src/components/CameraButtons.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Minor bug fix"
  app/traste/src/components/CameraButtons.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Refactor done of code"
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Minor change"
  app/traste/src/components/WasteInputField.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Minor bug with CameraButtons fixed"
  app/traste/src/components/CameraButtons.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Snackbar now shows message and severity"
  app/traste/src/App.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

endpoint tester?
  functions/databaseSchemas.js
  functions/index.js
  functions/package-lock.json
  functions/package.json
  functions/test/api.js
  functions/test/integrationTest/indexTest.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

"Added sx for snackbar in Constants.js"
  app/traste/src/assets/Constants.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Rename of component"
  app/traste/src/components/WasteInputField.js
  functions/package-lock.json
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

Got dialog box to open on send report button
  app/traste/src/components/confirmation.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Upload functionality and testing implemented
  functions/firestoreClient.js
  functions/firestoreTables.js
  functions/index.js
  functions/notImplementedFunctions.js
  functions/package.json
  functions/test/api.js
  functions/test/integrationTest/indexTest.js
  functions/test/unitTest/createEmployeeTest.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

Fixed issues from pipeline
  functions/firestoreTables.js
  functions/index.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

Bug fixes
  app/traste/src/assets/Constants.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Fixed image and report upload.
  app/traste/src/api/trasteApi.js
  app/traste/src/screens/ReportPage.js
  functions/firestoreClient.js
  functions/index.js
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

Refactor works
  app/traste/src/assets/Constants.js
  app/traste/src/components/ReportForm.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Removed logs and added some comments.
  app/traste/src/api/trasteApi.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Fixed new route.
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Commented and code fixes.
  app/traste/src/assets/Colors.js
  app/traste/src/components/CameraButtons.js
  app/traste/src/components/Header.js
  app/traste/src/components/Inputfield.js
  app/traste/src/components/MaterialField.js
  app/traste/src/components/Selection.js
  app/traste/src/screens/MenuPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

get all reports function, partially tested
  app/traste/src/App.js
  app/traste/src/assets/gilroy.woff2
  app/traste/src/screens/HistoryPage.js
  app/traste/src/screens/MenuPage.js
  functions/firestoreClient.js
  functions/index.js
  functions/package.json
  functions/test/oldTests/createEmployeeTest.js
  functions/test/oldTests/createFacilityTest.js
  functions/test/oldTests/createReportTest.js
  functions/test/oldTests/createSiteTest.js
  functions/test/oldTests/createWasteTest.js
  functions/test/unitTest/getAllReportsTest.js
  package-lock.json
  package.json
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

started on histrypage
  app/traste/src/screens/HistoryPage.js
  app/traste/src/screens/MenuPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Can see images.
  app/traste/src/assets/Constants.js
  app/traste/src/components/CameraButtons.js
  app/traste/src/components/ReportForm.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Fixed import
  app/traste/src/components/MaterialField.js
  app/traste/src/components/Selection.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Designed popup and fixed pc-view of app.
  app/traste/src/App.js
  app/traste/src/assets/Constants.js
  app/traste/src/components/CameraButtons.js
  app/traste/src/components/Inputfield.js
  app/traste/src/components/MaterialField.js
  app/traste/src/components/ReportForm.js
  app/traste/src/components/Selection.js
  app/traste/src/components/WasteInputField.js
  app/traste/src/index.css
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Fixed post url.
  app/traste/src/components/Inputfield.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Made images required
  app/traste/src/components/ReportForm.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Update app/traste/src/components/Selection.js
  app/traste/src/components/Selection.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Moved test files and deleted old, backend"
  app/traste/src/components/confirmation.js
  functions/test/unitTest/createReportTest.js
  test/createEmployeeTest.js
  test/createFacilityTest.js
  test/createReportTest.js
  test/createSiteTest.js
  test/createWasteTest.js
  test/deleteDatabaseForTesting.js
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

get all reports works, started on the frontend part
  app/traste/src/screens/HistoryPage.js
  functions/firestoreClient.js
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

Path conditions:
  npm-backend: any of: functions/**/*
  npm-frontend: any of: app/traste/**/*
  eslint-backend: any of: functions/**/*
  eslint-frontend: any of: app/traste/**/*
  unit-test-backend: any of: functions/**/*
  unit-test-frontend: any of: app/traste/**/*
  deploy-firestore: any of: firestore.rules, firestore.indexes.json
  deploy-functions: any of: functions/**/*
  deploy-hosting: any of: app/traste/**/*
