Repository CalleEklund/Traste: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-firestore, deploy-functions, deploy-hosting

Path conditions:
  npm-backend: any of: functions/**/*
  npm-frontend: any of: app/traste/**/*
  eslint-backend: any of: functions/**/*
  eslint-frontend: any of: app/traste/**/*
  unit-test-backend: any of: functions/**/*
  unit-test-frontend: any of: app/traste/**/*
  deploy-firestore: any of: firestore.rules, firestore.indexes.json
  deploy-functions: any of: functions/**/*
  deploy-hosting: any of: app/traste/**/*

"Selection.js have proper tests now"
  app/traste/package-lock.json
  app/traste/package.json
  app/traste/src/components/Inputfield.js
  app/traste/src/components/Selection.js
  app/traste/src/components/__tests__/Selection.test.js
  app/traste/src/components/__tests__/__snapshots__/Inputfield.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/MaterialField.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/Selection.test.js.snap
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Fixed eslint warnings"
  app/traste/src/components/__tests__/Selection.test.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Update .gitlab-ci.yml, removed caching and added back test stages
  .gitlab-ci.yml
Due: none

"Added coverage script for unit tests"
  functions/package.json
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

Update .gitlab-ci.yml, added caching for npm back
  .gitlab-ci.yml
Due: none

"Simple testing for WasteInputField.js"
  app/traste/src/components/__tests__/WasteInputField.test.js
  app/traste/src/components/__tests__/__snapshots__/WasteInputField.test.js.snap
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

"Eslint warnings fixed"
  app/traste/src/components/__tests__/WasteInputField.test.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Update .gitlab-ci.yml file, testing stages should now run
  .gitlab-ci.yml
Due: none

"Import of fireStoreClient was wrong in unit tests"
  functions/test/unitTest/createReportTest.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

framände
  app/traste/src/api/trasteApi.js
  app/traste/src/screens/HistoryPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Testning av functions
  app/traste/src/api/trasteApi.js
  app/traste/src/screens/HistoryPage.js
  functions/.eslintrc.js
  functions/firestoreClient.js
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

fixed modal for images, historypage works
  app/traste/package-lock.json
  app/traste/package.json
  app/traste/src/api/trasteApi.js
  app/traste/src/components/ImageModal.js
  app/traste/src/screens/HistoryPage.js
  firebase.json
  functions/firestoreClient.js
  functions/index.js
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

cleanup and commented
  app/traste/src/components/ImageModal.js
  app/traste/src/screens/HistoryPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

test for ImageModal, 100% coverage
  app/traste/src/components/ImageModal.js
  app/traste/src/components/__tests__/ImageModal.test.js
  app/traste/src/components/__tests__/__snapshots__/ImageModal.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/Inputfield.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/MaterialField.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/Selection.test.js.snap
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

eslint:(
  app/traste/src/components/__tests__/ImageModal.test.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

måsvingar missing
  functions/test/unitTest/createReportTest.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

Vi måste implementera en delete funktion för att kunna göra testerna på live-databasen
  functions/test/unitTest/createReportTest.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

fixed create report test
  app/traste/package-lock.json
  functions/firestoreClient.js
  functions/test/unitTest/createReportTest.js
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

eslint fix
  functions/test/unitTest/createReportTest.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

added a somewhat of a test to getallreports function
  functions/test/unitTest/getAllReportsTest.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

updated snapshot for frontend unit tests
  app/traste/src/components/__tests__/__snapshots__/Inputfield.test.js.snap
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Test kvar att göra
  functions/firestoreClient.js
  functions/index.js
  functions/test/unitTest/deleteReportTest.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

added backend test for the deletefunction with coverage
  functions/firestoreClient.js
  functions/index.js
  functions/test/unitTest/deleteReportTest.js
Due: npm-backend, eslint-backend, unit-test-backend, deploy-functions

Text, text field and button added
  app/traste/src/App.js
  app/traste/src/screens/LoginPage.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Update .gitlab-ci.yml, added integrationstesting
  .gitlab-ci.yml
Due: none

Worked on login page logic.
  app/traste/package-lock.json
  app/traste/package.json
  app/traste/src/App.js
  app/traste/src/api/trasteApi.js
  app/traste/src/screens/LoginPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

url -> baseURL
  app/traste/src/api/trasteApi.js
  app/traste/src/screens/LoginPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

delete function call works from frontend, rerender need fixing
  app/traste/src/api/trasteApi.js
  app/traste/src/screens/HistoryPage.js
  functions/index.js
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

Styled login page, fixed Gilroy font and some tidbits.
  app/traste/src/api/trasteApi.js
  app/traste/src/assets/login_logo.png
  app/traste/src/components/ReportForm.js
  app/traste/src/index.css
  app/traste/src/index.js
  app/traste/src/screens/LoginPage.js
  app/traste/src/theme.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

More fixes and polishing.
  app/traste/src/assets/traste_name.png
  app/traste/src/components/CameraButtons.js
  app/traste/src/components/Header.js
  app/traste/src/components/Inputfield.js
  app/traste/src/components/ReportForm.js
  app/traste/src/screens/HistoryPage.js
  app/traste/src/screens/LoginPage.js
  app/traste/src/screens/ReportPage.js
  app/traste/src/theme.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

deleting a report now works as intended, file might need modularising
  app/traste/src/screens/HistoryPage.js
  app/traste/src/screens/ReportPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

minor things, commented trasteAPI, delete function does not delete images in storage on the emulator.
  app/traste/src/api/trasteApi.js
  app/traste/src/screens/HistoryPage.js
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Removed up/down arrows on number textfields.
  app/traste/src/index.css
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Fiddled some more with the ui.
  app/traste/src/App.js
  app/traste/src/components/CameraButtons.js
  app/traste/src/components/ReportForm.js
  app/traste/src/index.css
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Updated snapshot tests.
  app/traste/src/App.js
  app/traste/src/components/ReportForm.js
  app/traste/src/components/__tests__/Header.test.js
  app/traste/src/components/__tests__/__snapshots__/Header.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/Inputfield.test.js.snap
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

Login works, kinda. Wrong pass gives error instead.
  app/traste/src/screens/LoginPage.js
  functions/firestoreClient.js
  functions/index.js
  functions/package-lock.json
  functions/package.json
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

Tried more testing on login, think it's a frontend thing in App.js
  app/traste/src/api/trasteApi.js
  app/traste/src/assets/Constants.js
  functions/index.js
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting

added crypto-browserify.
  app/traste/package-lock.json
  app/traste/package.json
Due: npm-frontend, eslint-frontend, unit-test-frontend, deploy-hosting

delete function complete
  app/traste/src/screens/HistoryPage.js
  functions/firestoreClient.js
  functions/index.js
  functions/sheetsApi.js
  functions/syncData.js
  functions/test/integrationTest/indexTest.js
  functions/test/unitTest/deleteReportTest.js
Due: npm-backend, npm-frontend, eslint-backend, eslint-frontend, unit-test-backend, unit-test-frontend, deploy-functions, deploy-hosting
